.headerTitle{
    width: 224px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
margin-left:-820px;
color: #800080;
}
.container {
  /* border: 1px solid brown; */
  display: flex;
  width: 90%;
  align-items: center;
  gap: 10px;
  margin-top: -40px;
}
.referFriends {
  display: flex;
  /* border: 1px solid blue; */
  justify-content: space-around;
  width: 40%;
  gap: 10px;
  flex-direction: column;
}
.insideFriendBox {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inviteBtn {
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: rgba(217, 217, 217, 0.25);
}

.textInvite {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 5px; */
}
.inviteBold {
  width: 151.22px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-left: -95px;
}
.ptags {
  width: 220px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
  margin-top: -10px;
  margin-left: -25px;
}
.getReferral {
    margin-left: 5px;
  width: 264px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.onTotal {
  width: 274.17px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
  margin-left: 15px;
  margin-top: -10px;
}
.walletBold{
width: 231px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
margin-left: -28px;
}
.walletNormal{
    width: 274px;
height: 48px;
margin-left: 15px;
margin-top: -10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #4D4D4D;
}
.purchasesCourse {
  display: flex;
  /* border: 1px solid #cccccc; */
  width: 40%;
  flex-direction: column;
  gap: 5px;
  margin-top: -115px;
}
.purchaseContainer{
    width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.purchasesBtn{
border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: rgba(217, 217, 217, 0.25);
}
.friendPurchases{
    display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.friendBold{
    width: 244.62px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
margin-left: -25px;
}
.friendNormal{
 width: 268.76px;
height: 48px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #4D4D4D;
margin-top: -10px;
}
.discountBold{
width: 231px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
margin-left: -40px;
}
.discountNormal{
    width: 274px;
height: 48px;
margin-top: -10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #4D4D4D;
}
