.container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  position: fixed;
  height: 73.03px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #ffffff;
}
.logo {
  /* position: absolute; */
  width: 160px;
  height: 63px;
  left: 74px;
  top: 6px;
}
.rightDiv {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  width: 45%;
}
.rightDiv > p {
  font-size: 18px;
  line-height: 123.5%;
  text-align: center;
  color: rgba(128, 0, 128, 0.25);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.profile_logo {
  /* position: absolute; */
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  /* background: #800080; */
}
.profile > select {
  font-size: 18px;
  line-height: 123.5%;
  text-align: center;
  color: #800080;
  border: none;
  height: 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}
.btnBox {
  display: none;
}
@media screen and (min-width: 0px) and (max-width:375px) {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
    position: fixed;
    height: 73.03px;
    width: 375px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #ffffff;
    /* padding: 5px 10px; */
    /* border: 1px solid red; */
  }
  .btnBox {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 12px 25px; */
    gap: 10px;
    width: 165px;
    height: 48px;
    background: #800080;
    border-radius: 10px;
  }
  .btnName {
    background: none;
    border: none;
    width: 99px;
    height: 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
  .rightDiv {
    display: none;
  }
}
